body{
    padding: 0;
    margin:0;
    font:15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}
ul{
    margin:0;
    padding:0;
}
header{
    background-color: white;
    padding-top: 30px;
    min-height: 70px;
}
header a{
    color:#000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    border-right: 2px solid #000000
}
header li:last-child{
    border:none;
}
header #branding{
    float: left;

}
header #branding h1{
    margin:0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color:orangered;
    font-weight: bold;
}
header a:hover{
    color: darkslategrey;
}

#slideShow{
    min-height: 400px;
    background: url('../images/slide.jpg') no-repeat 350px 0;
    text-align: center;
    /*border:1px solid black;*/
    width:100%;
    margin:auto;
}
#slideShow h1{
    margin-top:100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#slideShow button{
    font-size:20px;
    color:#ffffff;
    background-color: #000000;
    border: none;
    padding:17px 30px;
}
#slideShow button:hover{
    background-color: orangered;
    font-weight: bold;
}
#description{
    text-align: center;
}
#articles{
    margin-top:20px;
    background-color: #000000;
    color: #ffffff;
}
#articles .article{
    float: left;
    width: 30%;
    padding: 20px;
    text-align: center;
}
#articles .article img{
    width: 90px;
}
footer{
    padding:5px;
    margin-top:5px;
    text-align: center;
}